<form method="post" action="{{ path('hizmet_delete', {'id': hizmet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hizmet.id) }}">
    <button class="btn">Delete</button>
</form>
